
/*********************************MAIN_PAGE*************************************/
#index h1{width:233px; margin: 0 auto;padding:117px 10px 0px;}
#index h1 a{ text-indent:-999999px;display:block;width:233px;height:156px;background:url(../images/logo.png) 0 0 no-repeat; text-decoration:none;}
#index section{padding-bottom:14px; padding-top:36px !important;}
/*================================>> ROUBND ABOUT <<========================================*/
.inside {
	padding: 0px 0 0 7px !important;
	position:relative;
}
.inside .prev, .inside .next{ display:block;width:20px; position:absolute; z-index:999; height:35px; top:168px;}
.inside .prev{ background:url(../images/round_prev.jpg) 0 0 no-repeat; left:-30px;}
.inside .next{ background:url(../images/round_next.jpg) 0 0 no-repeat; right:-30px;}
#index .inside .prev{ background:url(../images/round_prev.jpg) 0 0 no-repeat; left:-50px;}
#index .inside .next{ background:url(../images/round_next.jpg) 0 0 no-repeat; right:-50px;}
.inside .prev:hover, .inside .next:hover{ background-position: 0 -35px !important;}
.roundabout-holder {
      list-style: none;
      margin: 0 auto;
      height: 387px;
      width: 750px;
   }
   .roundabout-holder li {
	   background:#666;
   }
   	.roundabout-holder li img {
		opacity:0.5
	}
   .roundabout-moveable-item {
      height: 376px;
      width: 533px;
      cursor: pointer;

   }
   	.roundabout-moveable-item img {
		width:100%;
		height:100%;
	}
   .roundabout-in-focus {
      cursor: auto;
   }
   	.roundabout-holder .roundabout-in-focus img {
		opacity:1
	}

.social{width:160px; margin: 0 auto 22px; overflow:auto;}
.social a{ display:block; float:left; overflow:hidden;width:29px;height:28px; margin-left:1px; margin-right:1px;}
.social a:first-child{ margin-left:2px; margin-right:0px;}
.social a:hover img{ margin-top:-28px;}
#easyTooltip {font-size:12px;background:#fff;padding:3px 5px;border:1px solid #000}